.loaderContainer {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 100000;
}

.loaderContainer svg {
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
}