.department-container {
    display: flex;
    flex-direction: column;
    margin: 1%;
    width: 32%;
    height: 250px;
    border-radius: 10px;
    cursor: pointer;
    border: #121829 2px solid;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;

}

.department-header {
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    width: 100%;
}

.department-header h2 {
    margin: 0 0 0 5px;
    padding: 0;
    font-size: 24px;
    color: #333;
}

.admin-info {
    margin-left: 5px;
    font-size: 14px;
    color: #555;
}

.members-section {
    height: 100px;
}

.members-section h3 {
    font-size: 18px;
    color: #333;
    margin: 0 0 5px 5px;
}

.members-section ul {
    list-style-type: none;
    margin: 0 0 0 5px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.members-section li {
    padding: 5px;
    color: #444;
    background: #767e94;
    border-radius: 10px;
    width: 80px;
    font-size: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis ;
    margin: 2px;
}

.members-section p {
    color: #999;
}

.management-section {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.management-section button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4f062d;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding: 3px 6px 3px 6px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    overflow: hidden;
}

.management-section button > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.management-section button:nth-child(1) {
    margin-left: 10px;
    margin-right: 3px;
}

.management-section button:nth-child(2) {
    margin-right: 10px;
    margin-left: 3px;
}

.management-section button:hover {
    background: #7c6ef6;
}

