.update-employee-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-employee-form {
    width: 40%;
    background: white;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.update-employee-form input {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding-left: 5px;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
}

.update-employee-form input::placeholder {
    color: #ccc;
}

.update-employee-form input:focus, .update-employee-form input:active {
    border-bottom: 1px solid #000;
}

.update-employee-form input:focus::placeholder, .update-employee-form input:active::placeholder {
    color: #000;
}

.input-container > span {
    padding: 0;
    position: absolute;
    color: red;
    font-size: 1rem;
    top: 53px;
}

.input-container {
    position: relative;
    width: 70%;
    padding-bottom: 20px;
    display: flex;
}

.form-buttons {
    padding: 30px 0 20px 0;
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.form-buttons button {
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 12px;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.form-buttons button:nth-child(1) {
    background: forestgreen;
    color: white;
}

.form-buttons button:nth-child(2) {
    background: #e53e3e;
    color: white;
}

.form-buttons button:hover {
    opacity: 0.7;
}